/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #14213D;
}

h1 {
  font-style: italic;
  color: #06D6A0;
}
img.puppy{
  width: 100%;
}